@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2> class="Movies"</h2>

<table class="table table-bordered table-hover ">

    <tbody>

    </tbody>

</table>